<link rel="stylesheet" type="text/css" href="/index.css">

<iframe width="0" height="0"
  src="https://www.youtube.com/embed/GurdjMw8Va4?rel=0&autoplay=1&amp;loop=1;">
</iframe>


<form action="/names" method="post">
  <label for="player_1_name">
    Player 1 name
    <input typew="text" name="player_1_name">
  </label>
  <br>
  <label for="player_1_name">
    Player 2 name
    <input type="text" name="player_2_name">
  </label>
  <br>
  <input type="submit" value="Submit">
</form>
