body {
  background-image: url("https://twistedsifter.files.wordpress.com/2013/05/animated-gifs-of-fighting-game-backgrounds-10.gif?w=1600&h=734");
  background-repeat:no-repeat;

 background-size:cover;
 color: blue;


}

#button {
  border: solid;
  border-radius: 50px;
  font-size: 20px;
}
